<div class="flex flex-col h-full">

    <div class="flex flex-col mb-5 ml-2">
        <h2 class="text-xl font-semibold">Ajustes de usuario</h2>
        <h3>Administra los ajustes de la cuenta</h3>
    </div>

    <div class="card">

        <p-tabs value="0">
            <p-tablist>
                <p-tab value="0"><i class="pi pi-user mr-3"></i>Perfil</p-tab>
                <p-tab value="1"><i class="pi pi-lock mr-3"></i>Contraseña</p-tab>
            </p-tablist>
            <p-tabpanels>

                <p-tabpanel value="0">

                    <div class="flex flex-col gap-8 mt-5 ml-3">

                        <div>
                            <h3 class="text-lg font-semibold">Información del perfil</h3>
                            <p>Actualiza tu nombre y dirección de correo electrónico</p>
                        </div>


                        <div class="flex flex-col gap-4">

                            <p-floatlabel variant="on">
                                <input id="nombre" pInputText class="w-150" />
                                <label for="nombre">Nombre</label>
                            </p-floatlabel>

                            <p-floatlabel variant="on">
                                <input id="correo" pInputText class="w-150" />
                                <label for="correo">Correo electrónico</label>
                            </p-floatlabel>

                            <button pButton type="button" label="Guardar" class="w-fit mt-2"> </button>
                        </div>

                        <p-message severity="error w-fit mt-4 mb-4">
                            <div class="flex flex-col gap-1">
                                <p class="font-bold">Advertencia</p>
                                <div class="flex flex-col">
                                    <p>Por favor, procede con precaución, esto no se puede deshacer.</p>
                                </div>
                                <button pButton type="button" label="Eliminar cuenta"
                                    class="p-button-danger w-fit mt-4">
                                </button>
                            </div>
                        </p-message>



                    </div>
                </p-tabpanel>


                <p-tabpanel value="1">

                    <div class="flex flex-col gap-8 mt-5 ml-3">

                        <div>
                            <h3 class="text-lg font-semibold">Actualizar contraseña</h3>
                            <p>Asegúrate de que tu cuenta esté usando una contraseña larga y aleatoria para mayor seguridad</p>
                        </div>


                        <div class="flex flex-col gap-4">

                            <p-floatlabel variant="on">
                                <input id="passwordActual" pInputText class="w-150" />
                                <label for="passwordActual">Contraseña actual</label>
                            </p-floatlabel>

                            <p-floatlabel variant="on">
                                <input id="passwordNew" pInputText class="w-150" />
                                <label for="passwordNew">Contraseña nueva</label>
                            </p-floatlabel>

                               <p-floatlabel variant="on">
                                <input id="rpasswordNew" pInputText class="w-150" />
                                <label for="rpasswordNew">Repita contraseña nueva</label>
                            </p-floatlabel>

                            <button pButton type="button" label="Guardar" class="w-fit mt-5 mb-2"> </button>
                        </div>





                    </div>


                </p-tabpanel>


            </p-tabpanels>
        </p-tabs>



    </div>


</div>