<ng-container *ngIf="!loading && isBrowser; else loadingSkeleton">


  <div class="card overflow-x-auto" style="max-width: 100%">

    <p-table #dt [value]="data" dataKey="id" [rows]="rows" [rowsPerPageOptions]="rowsPerPageOptions" [paginator]="true"
      [paginatorStyleClass]="'custom-paginator-style'" [paginatorDropdownAppendTo]="'body'"
      [globalFilterFields]="globalFilterFields" [scrollable]="true" scrollHeight="400px">
      <ng-template pTemplate="caption">

        <div class="flex align-items-center justify-content-between">

          <p-iconfield iconPosition="left">
            <p-inputicon class="pi pi-search" />
            <input type="text" pInputText [(ngModel)]="globalFilterValue"
              (input)="dt.filterGlobal(globalFilterValue, 'contains')" id="buscartabla" placeholder="Buscar..."
              class="p-inputtext-sm" />
          </p-iconfield>

          <p-button [icon]="showColumnFilters ? 'pi pi-filter-slash' : 'pi pi-filter'"
            [label]="showColumnFilters ? 'Ocultar Filtros' : 'Mostrar Filtros'"
            styleClass="p-button-outlined p-button-sm ml-2" (onClick)="toggleColumnFilters()"></p-button>

        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field" [style.minWidth]="col.minWidth || '80px'">
            {{ col.header }}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        </tr>
        <tr *ngIf="showColumnFilters">
          <th *ngFor="let col of columns">
            <p-columnFilter *ngIf="col.filter" [field]="col.field" type="text" display="menu"></p-columnFilter>
          </th>
          <th></th>
        </tr>
      </ng-template>

<ng-template pTemplate="body" let-rowData>
  <tr>
    <td *ngFor="let col of columns">
      <ng-container *ngIf="col.field === 'date'; else generalCell">
        {{ rowData[col.field] | date:'dd/MM/yyyy' }}
      </ng-container>
      <ng-template #generalCell>
        {{ rowData[col.field] | humanize }}
      </ng-template>
    </td>
  </tr>
</ng-template>




      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="columns.length + 1">No se encontraron registros.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

</ng-container>


<ng-template #loadingSkeleton>
  <div class="card overflow-x-hidden" style="max-width: 100%">
    <p-table>
      <ng-template pTemplate="header">
        <tr *ngFor="let i of [].constructor(10)">
          <th [style.minWidth]="'40px'">
            <p-skeleton></p-skeleton>
          </th>
          <th [style.minWidth]="'160px'">
            <p-skeleton></p-skeleton>
          </th>
        </tr>


      </ng-template>
    </p-table>
  </div>
</ng-template>