<p-card [styleClass]="'!w-full'">
    <ng-template pTemplate="content">
        <div class="flex flex-col h-full">

            <div class="flex-1 flex flex-col gap-2">

                <div class="font-semibold text-lg flex justify-between items-center mb-6">
                    <span>Ejercicio de derechos</span>
                    <i class="pi pi-question-circle"
                        pTooltip="Permite añadir los datos de un cliente y generar en base a esos datos el tipo de ejercicio de derechos requeridos por el mismo."
                        [autoHide]="false" tooltipPosition="right"></i>
                </div>

                <p-button label="Crear solicitud inicial" icon="pi pi-plus" iconPos="top" variant="outlined"
                    severity="success" (onClick)="onShowCreateClientDialog()"
                    styleClass="w-full !justify-start !whitespace-nowrap">
                </p-button>

                <p-divider align="center">
                    <b>Seleccionar solicitud existente</b>
                </p-divider>

                <p-select placeholder="Selecciona una solicitud" optionLabel="full_name"
                 [options]="availableRequests" 
                 [(ngModel)]="selectedRequest"
                 [loading]="isLoadingRequests"
                 styleClass="!w-full"
                 [filter]="true" filterBy="full_name" [showClear]="true"/>


            </div>
        </div>
    </ng-template>
</p-card>

<p-toast position="bottom-right"></p-toast>

<app-create-client [visible]="createClientDialog" (dialogHidden)="onHideCreateClientDialog()"></app-create-client>