

<ng-template #viewEditCompanyBodyTemplate let-rowData>
  <p-button
    icon="pi pi-eye"
    [text]="true"
    (click)="onShowEditCompany(rowData.id)"
    pTooltip="Ver/Editar organización"
    tooltipPosition="bottom">
  </p-button>
</ng-template>


<div class="organization-page-container">
  

  <div class="card">
    
    
  <div class="flex items-center justify-between mb-4">
      <h2 class="text-xl font-semibold ml-2">Responsables</h2>
      <p-button [label]="loadingCompanies ? 'Cargando...' : 'Añadir responsable'" icon="pi pi-plus"
                class="p-button-sm" (onClick)="onShowCreateCompanyDialog()" [loading]="loadingCompanies">
            </p-button>

    </div>

    <app-datatable [columns]="cols" [data]="companies" [loading]="loadingCompanies"></app-datatable>

  </div>
</div>

<app-create-company 
    [visible]="showDialogFlag"
    (dialogClosed)="handleDialogClose()"
    [companyToEdit]="selectedCompanyForEdit"
    (companySaved)="onCompanySaved()">
</app-create-company>

