<div class="app-layout-wrapper h-screen flex flex-col">
  
  <app-menubar [isDark]="isDark" [sidebarVisible]="sidebarVisible" (toggleDarkMode)="toggleDarkMode()"
    (toggleSidebar)="toggleSidebar()" [ngClass]="{'app-menubar-shifted': sidebarVisible && !isMobile}"></app-menubar>

  <div class="flex flex-grow overflow-hidden">
    <app-sidebar *ngIf="isBrowser" [(visible)]="sidebarVisible" [modal]="isMobile" [fullScreen]="isMobile"></app-sidebar>

    <main class="app-main-content flex-grow overflow-auto" [ngClass]="{'app-main-content-shifted': sidebarVisible && !isMobile}">
    <div class="app-content-area">

      <router-outlet></router-outlet>

    </div>
  </main>
</div>