<div class="organization-page-container">


    <div class="card">


        <div class="flex items-center justify-between mb-4">
            <h2 class="text-xl font-semibold ml-2">Ejercicios de derecho</h2>

            <p-button label="Añadir solicitud" icon="pi pi-plus" class="p-button-sm" (onClick)="showDialogFlag = true">
            </p-button>
        </div>

        <app-datatable [columns]="cols" [data]="requests" [loading]="loadingRequests"></app-datatable>

    </div>
</div>

<app-create-client [visible]="showDialogFlag" (dialogClosed)="handleDialogClose()">
</app-create-client>