<div class="flex items-center justify-center min-h-screen p-4">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="w-full max-w-4xl mx-auto min-h-[85vh] flex flex-col">

    <p-card class="shadow-lg rounded-lg overflow-hidden flex-grow flex flex-col justify-between">

      <ng-template pTemplate="content">
        <div class="grid md:grid-cols-2 gap-6 min-h-[70vh]">

          <div class="flex flex-col justify-center items-center text-center p-4">
            <i class="pi pi-user-plus" style="font-size: 6rem"></i>
            <h1 class="text-3xl mt-8 mb-4">Crear cuenta</h1>
            <p>Regístrate para acceder a la aplicación</p>
          </div>

          <div class="flex items-center justify-center p-4">
            <div class="w-full max-w-md flex flex-col items-stretch space-y-10">

              <div>
                <p-floatlabel>
                  <input pInputText pSize="large" id="name" type="text" formControlName="name"
                    class="w-full h-15" autocomplete="name" [invalid]="isInvalid('name')" />
                  <label for="name">Nombre completo</label>
                </p-floatlabel>
                @if (isInvalid('name')) {
                  @if (registerForm.get('name')?.hasError('required')) {
                    <div class="text-red-600 text-sm mt-1 flex items-center">
                      <i class="pi pi-exclamation-circle mr-1"></i> Éste campo es obligatorio
                    </div>
                  }
                }
              </div>

              <div>
                <p-floatlabel>
                  <input pInputText pSize="large" id="email" type="email" formControlName="email"
                    class="w-full h-15" autocomplete="email" [invalid]="isInvalid('email')" />
                  <label for="email">Correo electrónico</label>
                </p-floatlabel>
                @if (isInvalid('email')) {
                  @if (registerForm.get('email')?.hasError('required')) {
                    <div class="text-red-600 text-sm mt-1 flex items-center">
                      <i class="pi pi-exclamation-circle mr-1"></i> Éste campo es obligatorio
                    </div>
                  }
                  @if (registerForm.get('email')?.hasError('email')) {
                    <div class="text-red-600 text-sm mt-1 flex items-center">
                      <i class="pi pi-exclamation-circle mr-1"></i> Correo electrónico inválido
                    </div>
                  }
                }
              </div>

              <div>
                <p-floatlabel>
                  <input pSize="large" pInputText id="password" type="password"
                    formControlName="password" class="w-full h-15" autocomplete="new-password" [invalid]="isInvalid('password')" />
                  <label for="password">Contraseña</label>
                </p-floatlabel>
                @if (isInvalid('password')) {
                  @if (registerForm.get('password')?.hasError('required')) {
                    <div class="text-red-600 text-sm mt-1 flex items-center">
                      <i class="pi pi-exclamation-circle mr-1"></i> La contraseña es obligatoria
                    </div>
                  }
                  @if (registerForm.get('password')?.hasError('minlength')) {
                    <div class="text-red-600 text-sm mt-1 flex items-center">
                      <i class="pi pi-exclamation-circle mr-1"></i> La contraseña debe tener al menos 8 caracteres
                    </div>
                  }
                }
              </div>

              <div>
                <p-floatlabel>
                  <input pSize="large" pInputText id="password_confirmation" type="password"
                    formControlName="password_confirmation" class="w-full h-15" autocomplete="new-password" [invalid]="isInvalid('password_confirmation')" />
                  <label for="password_confirmation">Repite la contraseña</label>
                </p-floatlabel>
                @if (isInvalid('password_confirmation')) {
                  @if (registerForm.get('password_confirmation')?.hasError('required')) {
                    <div class="text-red-600 text-sm mt-1 flex items-center">
                      <i class="pi pi-exclamation-circle mr-1"></i> La confirmación de contraseña es obligatoria
                    </div>
                  }
                  @if (registerForm.get('password_confirmation')?.hasError('passwordsMismatch')) {
                    <div class="text-red-600 text-sm mt-1 flex items-center">
                      <i class="pi pi-exclamation-circle mr-1"></i> Las contraseñas no coinciden
                    </div>
                  }
                }
              </div>

              <div class="text-right">
                <a pButton type="button" label="¿Ya tienes cuenta? Inicia sesión" class="p-button-link" [routerLink]="['/auth/login']"> </a>
              </div>

            </div>
          </div>

        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        @if (error) {
          <div class="text-red-600 text-sm text-center mt-2">{{ error }}</div>
        }
        <div class="flex justify-end gap-2 mt-auto">
          <button pButton [loading]="loading" type="submit" label="Registrarse"
            [disabled]="registerForm.invalid || loading"> </button>
        </div>
      </ng-template>
    </p-card>
  </form>
</div>