<p-drawer [(visible)]="visible" [showCloseIcon]="false" closeOnEscape="false" [modal]="false"
  styleClass="!w-full md:!w-[17rem] lg:!w-[17rem] !ml-3 !rounded-2xl !border-none" [style]="{ 'top': '5rem', 'height': 'calc(100vh - 6rem)' }" [fullScreen]="false" dismissible="false" position="left">
  <div class="flex flex-col h-full">
    <div class="sidebar-header pt-5">
      
      <div class="sidebar-row-bottom">
        <i class="pi pi-shield" style="font-size: 4rem"></i>
      </div>
    </div>

    <p-panelMenu [model]="menuItems" class="flex-grow"></p-panelMenu>


  </div>


  <ng-template #footer>

  </ng-template>


</p-drawer>