<div class="flex items-center justify-center min-h-screen p-4">
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="w-full max-w-4xl mx-auto min-h-[65vh] flex flex-col">

    <p-card class="shadow-lg rounded-lg overflow-hidden flex-grow flex flex-col justify-between">

      <ng-template pTemplate="content">
        <div class="grid md:grid-cols-2 gap-6 min-h-[55vh]">

          <!-- Columna Izquierda centrada vertical y horizontal -->
          <div class="flex flex-col justify-center items-center text-center p-4">
            <i class="pi pi-question-circle" style="font-size: 6rem"></i> <!-- Icono para recuperar contraseña -->
            <h1 class="text-3xl mt-8 mb-4">Recuperar contraseña</h1>
            <p>Introduce tu correo para recibir instrucciones</p>
          </div>

          <!-- Columna Derecha centrada vertical y horizontal -->
          <div class="flex items-center justify-center p-4">
            <div class="w-full max-w-md flex flex-col items-stretch space-y-4">

              <!-- Campo Correo electrónico -->
              <div>
                <p-floatlabel>
                  <input pInputText pSize="large" id="email" type="email" formControlName="email"
                    class="w-full h-15" autocomplete="email" [invalid]="isInvalid('email')" />
                  <label for="email">Correo electrónico</label>
                </p-floatlabel>

                @if (isInvalid('email')) {
                  @if (forgotPasswordForm.get('email')?.hasError('required')) {
                    <div class="text-red-600 mt-4 text-sm flex items-center">
                      <i class="pi pi-exclamation-circle mr-1"></i> Éste campo es obligatorio
                    </div>
                  }
                  @if (forgotPasswordForm.get('email')?.hasError('email')) {
                    <div class="text-red-600 text-sm mt-1 flex items-center">
                      <i class="pi pi-exclamation-circle mr-1"></i> Correo electrónico inválido
                    </div>
                  }
                }
              </div>

              <div class="text-right">
                <a pButton type="button" label="Volver al inicio de sesión" class="p-button-link" routerLink="/auth/login"> </a>
              </div>

            </div>
          </div>

        </div>
      </ng-template>

      <!-- Footer siempre abajo -->
      <ng-template pTemplate="footer">
        @if (success) {
          <div class="text-green-600 text-sm text-center mt-2">¡Correo enviado! Revisa tu bandeja de entrada.</div>
        }
        @if (error) {
          <div class="text-red-600 text-sm text-center mt-2">{{ error }}</div>
        }
        <div class="flex justify-end gap-2 mt-auto">
          <button pButton [loading]="loading" type="submit" label="Enviar"
            [disabled]="forgotPasswordForm.invalid || loading"> </button>
        </div>
      </ng-template>
    </p-card>
  </form>
</div>