
.app-main-content {
  flex-grow: 1;
  overflow-y: auto;
  position: relative;
  transition: margin-left 0.3s ease-in-out;
}

.app-content-area {
  flex-grow: 1;
  padding: 1.5rem; /* Padding interno para el contenido */
}


@media (min-width: 769px) {
  .app-main-content.app-main-content-shifted { 
    margin-left: 17rem; 
  }

  .app-content-area {
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .sidebar-toggle-button {
    margin-left: 0 !important;
  }
  .app-main-content {
    margin-left: 0; 
  }
}








